
#modal > div {
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
  background-color: gray;
  z-index: 999;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal > div > p {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 1rem;
}



.layout {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-rows: 80px 50px auto 50px;
  grid-template-columns: 1fr 3fr;

  grid-template-areas: 
    "header header"
    "menu menu"
    "sidebar content"
    "footer footer";
}

#page-header {
  grid-area: header;
  display: flex;
  align-items: center;
}

#page-header > h1 {
  margin-left: 20px;
}

#menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#menu > ul {
  display: flex;
  flex-direction: row;
}

#menu li {
  padding: 8px;
}

#sidebar {
  grid-area: sidebar;
}

#content {
  grid-area: content;
}

#page-footer {
  grid-area: footer;
}

