:root {
  font-family: arial;
}

.layout {
  display: grid;
  grid-template-rows: 80px auto 50px;
  grid-template-columns: 1fr 3fr;

  grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
}

#page-header {
  grid-area: header;

  background-color: navy;
  color: white;
  font-size: 3rem;

  display: flex;
  align-items: center;
}

#page-header > h1 {
  color: white;
  margin-left: 20px;
}

#sidebar {
  grid-area: sidebar;
}

#content {
  grid-area: content;
}

#page-footer {
  grid-area: footer;
}

