
.car-tool header {
  margin-top: 50px;
}

.car-tool table {
  margin-top: 20px;
  width: 100%;
}

.car-tool form {
  margin-top: 20px;
}

.car-tool form div {
  margin: 8px;
}

.car-tool form label {
  display: inline-block;
  width: 50px;
}

.car-tool thead th, .car-tool tbody td {
  padding: 4px;
}

.car-tool thead th {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.car-tool tbody td.number {
  text-align: right;
}

.car-tool tbody td.text {
  text-align: left;
}

.car-tool tbody td {
  text-align: center;
}

.car-tool tbody > tr:nth-child(even) {
  background-color: lightblue;
}

.car-tool tbody > tr:hover {
  background-color: lightyellow;
}

.car-tool form input {
  width: 100px;
  border: 1px solid slategray;
  border-radius: 5px;
  padding: 4px;
  outline: none;
}
